
@activity-box-border-color: saturate(darken(@mainmenu-background,40%),50%);

.columns-view {
  @line-cell-shadow: inset 0px 1px 0px 0px rgba(104, 57, 0, 0.26);  
  
  .mover {
    background: rgb(169, 200, 206) repeat;
    position:relative;
    
    .disable-text-selection;
    
    &.grid-mover {
      background-position: left -44px; 
    }
    &.headers-mover {
      background:rgb(248, 223, 181);
    }
  }
  
  .window {
    position:absolute;
    left:0;
    right:0;
    overflow:hidden;

    &.grid-window {
      top:40px;
      bottom:0;
      overflow-y:scroll;
      cursor:default;
    }
    
    &.headers-window  {
      cursor:move;
      top:0;
      height:40px;
      box-shadow: 0 0 5px black;
      z-index:2;
    }
  }
  
  // MAIN COLUMNS GRID
  .grid {
    box-shadow: inset 0px -5px 5px -5px #000;    
    
    .grid-col {
      position:absolute;
      word-wrap:break-word;
      font-size:80%;
      background: rgb(248, 223, 181);

      div.line-label {
        //padding-left: 3px;
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
        color: rgba(126, 76, 14, 0.56);
        text-align:left;
        text-indent: 5px;
        
        box-shadow: @line-cell-shadow;
        
        &.shaded-line {
          background: rgba(255, 139, 139, 0.25);
        }
        &.delimiter-left {
          box-shadow:inset 3px 0 0px 0px rgba(161, 197, 199, 0.81), @line-cell-shadow;
        }
        &.delimiter-left.delimiter-top {
          box-shadow: inset 3px 0 0px 0px rgba(161, 197, 199, 0.81), inset 0 3px 0px 0px  rgba(161, 197, 199, 0.81), @line-cell-shadow;
        }
        &.delimiter-right {
          box-shadow: inset -3px 0 0px 0px rgba(161, 197, 199, 0.81), @line-cell-shadow;
        }    
      }
      
      &.even-col {
        background: rgb(250, 211, 161);
        //box-shadow: inset 2px 0 1px -1px rgba(0, 0, 0, 0.15), inset -2px 0 1px -1px rgba(255, 255, 255, 0.66);
        
        div.line-label {
          //padding-left:4px;
        }
      }
    } // .grid-col
    
    .grid-overlay {
      position:absolute;
      left:0; right:0; top:0; bottom:0;
      
      
      div.domain-highlight {
        position:absolute;
        background: rgba(255,255,255,0.5);
        z-index: 5;
      }

    }

  } // .grid
  
  
  // HEADERS ON TOP OF GRID
  .headers {
    padding-bottom:2px;
  
    .headers-cols,
    .headers-supercols {
      position:relative;
    }
  
    .headers-cols {
      height: 1.5em;

      
      .headers-col {
        //border-bottom:@grid-border;
        //border-right:@grid-border;
        height:100%;
        display:block;
        position:absolute;
        word-wrap:break-word;
        font-size:80%;
        text-align:center;
        background:rgb(248, 223, 181);
      }
    }
  
    .headers-supercols {
      height: 1.75em;
      background:rgb(248, 223, 181);

      .headers-col {
        position:absolute;
        height:1.5em;
        border-right:@grid-border;
        border-bottom:@grid-border;
        background: desaturate(fade(@mainmenu-background,15%), 25%);
        text-align:left;
        padding-top:0.25em;
              
        span.headers-col-label {
          padding-left: 1em;
          padding-right: 1em;
          position:relative;
        }
      }
    } 
  } // .headers
  
  .grid  div.activity-occurance {
    position:absolute;
    
    left: 5px;
    right:5px;
    cursor:move;
    z-index:10;

    &.active .activity-occurance-inner {
      box-shadow: 0px 0px 5px 2px darken(@mainmenu-background, 50%);
    }
    
    
    .activity-occurance-inner {
      background: fade(desaturate(@mainmenu-background,30%), 50%);
      //border: @activity-box-border-color 2px solid;
      //border-left: fade(@activity-box-border-color, 45%) 1px solid;
      //border-right: fade(@activity-box-border-color, 45%) 1px solid;
      position:absolute;
      top:1px;
      left:30px;
      bottom:0px;
      right:5px;
      overflow: hidden;
      border-radius:5px;
      
      div.activity-occurance-labels {
        position:absolute;
        left:10px;
        right:10px;
         white-space: no-wrap;
      }
      div.activity-occurance-handle {
        height:5px;
        background:fade(desaturate(@mainmenu-background,30%), 100%);
        position:absolute;
        left:0;
        right:0;
      }
      div.columnbox-handle-front {
        top:0;
        cursor: n-resize;
      }
      div.columnbox-handle-back {
        bottom:0;
        cursor: s-resize;
      }
    }

    &.new-creating .activity-occurance-inner {
      background: fade(saturate(@mainmenu-background,40%), 30%);

      box-shadow: 0px 0px 5px 2px lighten(@mainmenu-background, 20%);
    }
  } 
  
} // .columns-view


.columns-view.horizontal-columns {
  @line-cell-shadow: inset 1px 0px 0px 0px rgba(104, 57, 0, 0.26);  
  
  .window {
    position:absolute;
    top:0;
    bottom:0;
    overflow:hidden;

    &.grid-window {
      left:80px;
      right:0;
      overflow-x:scroll;
      cursor:default;
    }
    
    &.headers-window  {
      cursor:move;
      left:0;
      width:80px;
      height: auto;
      box-shadow: 0 0 5px black;
      z-index:2;
    }
  }
  
  .grid-mover {
    background-position: -80px top; 
  }
  
  .grid {
    box-shadow: inset -5px 0px 5px -5px #000;
    
    .grid-col {
      div.line-label { 
        float:left;
        //padding-left:3px;
        //margin-right:-3px;
        height:100%;
        box-shadow: @line-cell-shadow;
        
        &.delimiter-left {
          box-shadow:inset 0 3px 0px 0px rgba(161, 197, 199, 0.81), @line-cell-shadow;
        }
        &.delimiter-left.delimiter-top {
          box-shadow: inset 3px 0 0px 0px rgba(161, 197, 199, 0.81), inset 0 3px 0px 0px  rgba(161, 197, 199, 0.81), @line-cell-shadow;
        }
        &.delimiter-right {
          box-shadow: inset 0 -3px 0px 0px rgba(161, 197, 199, 0.81), @line-cell-shadow;
        }    
      }
    }
  }
  
  .headers {
    .headers-supercols {
      width: 20px;
      height:auto;
      
      .headers-col {
          width:20px;
          padding:0;
          border:0;
          border-right:@grid-border;
          border-top:@grid-border;
          
          .headers-col-label {
            padding:0;
            margin-top: 65px;  
            display:block;
            white-space:nowrap;
            -webkit-transform: rotate(-90deg);
          }
      }
    }
    .headers-cols {
      width: 60px;
      height:auto;
      left:20px;
      
      .headers-col {
        width:100%;
      }
    }
  }
  
  .grid  div.activity-occurance {
    bottom: 5px;
    top:2em;
    
    
    .activity-occurance-inner {
      top:20px;
      left:1px;
      bottom:5px;
      right:0;
      //border: @activity-box-border-color 2px solid;
      //border-top: fade(@activity-box-border-color, 45%) 1px solid;
      //border-bottom: fade(@activity-box-border-color, 45%) 1px solid;
      
      div.activity-occurance-labels {
        left:10px;
        top:0px;
        bottom:20px;
        height: auto;
        
       
        
        span.end {
          display:block;
        }
      }
    }
    div.activity-occurance-handle {
      height:auto;
      left:auto;
      right:auto;
      width:5px;
      top:0;
      bottom:0;
    }
    div.columnbox-handle-front {
      left:0;
      cursor: w-resize;
    }
    div.columnbox-handle-back {
      right:0;
      cursor: e-resize;
    }
    
  }   
}