
@baseGray: hsl(200, 0, 95%);
@textColor: #222;

@import url(http://fonts.googleapis.com/css?family=Molle:400italic);

.disable-select {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

}

* {
   margin:0;
   padding:0;
}

body {
   font-family: "Ubuntu", sans-serif;
   margin:0;
   color: @textColor;
   
   cursor:default;
   font-size:10pt;
}

.fl {
   float:left;
}

.fr {
   float:right;
}

#topbar {
height:40px;
padding:10px;
background: rgb(0, 111, 116) url(assets/noisy.png);
border-bottom: rgba(0, 0, 0, 0.16) 2px solid;
box-shadow: 0px 0px 10px rgb(0, 0, 0);
position: relative;
z-index: 5;
}


#topbar .fr, #topbar .fl {
   height:40px;

}



.logoheader {
text-shadow: 0px 2px 1px rgba(209, 209, 209, 0.39);
color: rgba(0, 0, 0, 0.66);
margin: 0;
font-style:italic;
font-family: "Molle";

font-weight: bolder;
padding-top:5px;
}

#logo h1 {
    .logoheader;
}

#topbar .rightcomponents {
   margin-right: 10px;
   float:left;
   line-height:40px;
}

ul.dropdown-menu div.ui-slider {
    margin: 7px 20px;
}




.radialGradient(@centerColor, @outerColor) {
  background: -moz-radial-gradient(center, ellipse cover,  @centerColor 0%,  @outerColor 50%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,@centerColor), color-stop(50%, @outerColor)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, @centerColor 0%, @outerColor 50%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  @centerColor 0%, @outerColor 50%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, @centerColor 0%, @outerColor 50%); /* IE10+ */
background: radial-gradient(ellipse at center,  @centerColor 0%, @outerColor 50%); /* W3C */

}

#calendarview {
   background: ;
   position:relative;
   overflow:  hidden;
   background: white;
}

#grid {
   position: relative;
}

#grid .grid-col {
   border-right: 1px solid darken(@baseGray,10%);
   height: 100%;
   position:absolute;
   word-wrap:break-word;
   font-size:80%;
   text-align:center;
   line-heigt:1.5em;
}

#grid .grid-col.grid-col-even {
   
}

#grid-headers {
   height: 2em;
   position:absolute;
   top: 0;
   left: 0;
   right: 0;
   
   
   
}

#grid-headers .header-col {
   position:absolute;
   padding:0.25em 0;
   height:1.5em;
   @border:1px solid  darken(@baseGray,10%);
   border-right:@border;
   border-bottom:@border;
   text-align:center;
}
#grid-headers .header-col.header-col-even {
   
}

