.dayincolview {

    #grid {
        position: relative;
        background: url("../images/retina_wood.png") repeat left -44px;
        box-shadow: inset 0px -5px 5px -5px #000;
    }

    #grid .grid-col {
        //border-right:@grid-border;

        position:absolute;
        word-wrap:break-word;
        font-size:80%;
    }


    #grid-headers {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-bottom:2px;
        background: url("../images/retina_wood.png") repeat;
        box-shadow: 0 0 5px black;
        z-index:2;
        
        .header-cols-container, .header-supercols-container {
            position:relative;
        }
        
        .header-cols-container {
            height: 1.5em;
            
            .grid-header-col {
                //border-bottom:@grid-border;
                //border-right:@grid-border;
                height:100%;
                display:block;
                position:absolute;
                word-wrap:break-word;
                font-size:80%;
                text-align:center;
            }
        }

        .header-supercols-container {
            
            height: 1.75em;
           


            .header-col {
                position:absolute;
                height:1.5em;
                border-right:@grid-border;
                border-bottom:@grid-border;
                background: desaturate(fade(@mainmenu-background,15%), 25%);
                text-align:left;
                padding-top:0.25em;

                &.header-col-invisibleleft {
                    span.header-col-label {
                        position:absolute;
                    }
                }

                &.header-col-invisible {
                    text-align:right;
                    span.header-col-label {
                        position:static;
                    }
                }

                span.header-col-label {
                    padding-left: 1em;
                    padding-right: 1em;
                    position:relative;
                }
            }
        }
    } // #grid-headers


    #tasks {
        position: absolute;
        left: 0;
        top: 1.5em + 2em;
        width: 100%;
    }

    #mover-window {
        overflow:hidden;
        overflow-y:scroll;
        background:url("file:///home/docx/Devel/personal-tt/webui/assets/styles/../images/noisy.png"), desaturate(darken(@mainmenu-background, 25%),50%);
    }
}