#calendarview.dayincolview {

    #grid .grid-col {
        background: url('../images/dot.png') center 4px repeat-y;
        

        div.activity-occurance {

          position:absolute;

          border-radius: 3px;
          border: @grid-border;
          background: @mainmenu-background;

          left: 5px;
          right:5px;
          box-shadow: inset 5px 5px 10px -5px rgba(0,0,0,0.8);
        }
    }

    #grid .grid-col.even-col {
      background: rgba(194, 117, 20, 0.11);
      box-shadow: inset 2px 0 1px -1px rgba(0, 0, 0, 0.15), inset -2px 0 1px -1px rgba(255, 255, 255, 0.66);
    }

    #mover-window, #headers-window {
        position:relative;
    }
    
    #grid-vertical {
        
        width: 55px;
        background: rgba(255,255,255,0.5);
        padding-right:5px;
        position:absolute;
        top: 0;
        left: 0;

        .hour-label {
            height:49px;
            border-bottom:  @grid-border;
            border-right: @grid-border;
            font-size: 80%;
            text-align: right;
            padding-right: 0.5em;
            background: desaturate(fade(@mainmenu-background,15%), 25%);
        }
    }

    #headers-window #headers-corkiee {
        width: 55px;
        background: rgba(255,255,255,0.5);
        position:absolute;
        top: 0;
        left: 0;
        bottom:4px;
        padding-right:5px;

        .something {
            background: desaturate(fade(@mainmenu-background,15%), 25%);
            position:absolute;
            bottom:0;
            right: 5px;
            left:0;
            top:0;
            border-bottom:  @grid-border;
            
           
        }
    }

    #grid-headers .header-supercols-container .header-col-invisibleleft span.header-col-label {
        padding-left:70px;
    }
}