<div class='scrollable'>
<div class='container'>

  <h1>Domain templates</h1>
  
  <p>
  <%= link_to 'New template', new_domain_template_path, :class=>'btn btn-primary' %>
  </p>
  
  <table class='table table-bordered'>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    
    <% @domain_templates.each do |d| %>
    <tr>
      <td><%= d.name %></td>
      <td>
        <%= link_to 'Show', domain_template_path(d) %> |
        <%= link_to 'Delete', domain_template_path(d), :method => :delete %>
      </td>
    </tr>
    <% end %>
    <% if @domain_templates.empty? %>
    <tr>
      <td colspan=2>No data</td>
    </tr>
    <% end %>
  </table>

</div>
</div>
