<div class='scrollable'>
<div class='container'>

  <h1>Domain template "<%= @domain_template.name %>"</h1>
  
  <% if @domain_template.domain_stack.is_a? String %>
    <pre><%= @domain_template.domain_stack %></pre>
  <% else %>
    <%= render :partial => 'template_stack', :locals => {:stack => @domain_template.domain_stack} %>
  <% end %>
  
  <h2>Intervals in +-10 days from now</h2>
  <ul>
  <% @intervals.each do |i| %>
    <li><%= i.to_s %></li>
  <% end %>
  </ul>
  
</div>
</div>
